<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Wiley - QA Tool</title>
    @Scripts.Render("~/bundles/angular")
   
</head>
<body>
    <div>
        @RenderBody()
    </div>
    @RenderSection("scripts", required: false)
</body>
</html>
