@{
    <script src="~/ClientApp/QAToolApp.js"></script>
}

<div ng-app="QAToolApp">
    <div ng-controller="QAToolCtrl">
        <table>
            <tr>
                <th ng-repeat="th in keys">{{th | titleCase}}</th>
            </tr>
            <tr ng-repeat="x in data">
                <td ng-repeat="th in keys">{{x[th]}}</td>
            </tr>
        </table>
    </div>
</div>


